@mixin icon {
  vertical-align: middle;
  padding-left: 18px;
  padding-right: 18px;
}

@mixin shadow {
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.75);
}

@mixin cardTitle {
  color: #979797;
  padding: 18px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

@mixin wideButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #f58220;
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 30px auto 30px;
  outline: none;
  border: 1px solid #f58220;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: #ffa200;
  }
}

@mixin data {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #979797;
  font-weight: 800;
  letter-spacing: 1px;
  margin-right: 140px;
}

@mixin cloudTriangle {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  border-width: 0 10px 12px 0;
  border-style: solid;
  border-color: #f5f5f5 transparent;
  display: block;
  width: 0;
}

@mixin dataBorder {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

@mixin chartTitle {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #979797;
  font-weight: 800;
  letter-spacing: 1px;
}
@mixin form {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $personalData-form-border-color;
}
@mixin formName {
  width: 460px;
  .form-name {
    height: 40px;
    width: 460px;
    line-height: 35px;
    margin-bottom: 20px;
    input {
      float: right;
      height: 40px;
      width: 300px;
      border-radius: 5px;
      border: 1px solid #ddd;
      font-family: "Roboto", sans-serif;
      padding: 5px;
      outline: none;
    }
    label {
      color: #979797;
      font-weight: 800;
      font-family: "Roboto", sans-serif;
    }
  }
}

@mixin pagination {
  &_pagination {
    display: flex;
    justify-content: center;
    &--list {
      display: inline-block;
      padding: 0;
      margin: 30px 0 0;
      li {
        display: inline;
        a {
          color: #56819f;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
          border-radius: 5px;
          &:hover:not(.active) {
            color: #ffa200;
          }
        }
        .active {
          background-color: #e3e3e3;
          color: #979797 !important;
          border-radius: 5px;
        }
      }
    }
  }
}

@mixin chatCloud {
  position: relative;
  padding: 15px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-radius: 3px;
}
