/* Colors */
$basic-bcg-color: #f5f5f2;
$leftNavbar-bcg-color: #111;
$leftNavbar-menu-color: #f5f5f2;
$leftNavbar-links-color: #979797;
$navbar-border-bottom-color: #474747;
$messanger-title-color: #808080;
$leftNavbar-menu-item-link-hover-borderColor: #ffa200;
$leftNavbar-menu-item-link-color: white;
$leftNavbar-menu-item-link-hover-bcgColor: rgba(166, 166, 166, 0.1);
$messanger-contact--name-color: #56819f;
$topNavbar-icons-color: #8c8c8c;
$topNavbar-borders-color: #ddd;
$topNavbar-wallet-cash-color: #9c9c9c;
$topNavbar-notification-hover-bcgColor: #e3e3e3;
$topNavbar-profile-name-color: #56819f;
$topNavbar-bcgColor: white;
$topNavbar-borderColor: #ddd;
$generalStatistic-title-color: #979797;
$generalStatistic-bcgColor: white;
$generalStatistic-title-border-color: #ddd;
$generalStatistic-dates-border-color: #ddd;
$generalStatistic-secondDates-border-color: #ddd;
$generalStatistic-iconCalendar-color: #9c9c9c;
$generalStatistic-dates-button-bcgColor: #f58220;
$generalStatistic-dates-iconRefresh-color: white;
$generalStatistic-wrap-border-color: #ddd;
$links-bcgColor: white;
$links-title-color: #979797;
$links-title-border-color: #ddd;
$links-firstButton-bcgColor: #f58220;
$links-firstButton-color: white;
$links-table-border-color: #ddd;
$links-table-names-color: #979797;
$links-table-names-linksColor: #56819f;
$links-secondButton-bcgColor: #f58220;
$links-secondButton-color: white;
$banners-bcgColor: white;
$banners-title-color: #979797;
$banners-title-border-color: #ddd;
$banners-firstButton-bcgColor: #f58220;
$banners-firstButton-color: white;
$banners-table-border-color: #ddd;
$banners-table-names-color: #979797;
$banners-table-names-linksColor: #56819f;
$banners-secondButton-bcgColor: #f58220;
$banners-secondButton-color: white;
$personalData-bcgColor: white;
$personalData-title-color: #979797;
$personalData-title-border-color: #ddd;
$personalData-form-border-color: #ddd;

/* Font sizes */
$messanger-title-size: 14px;
$messanger-contact-name-size: 14px;
$leftNavbar-menu-item-link-size: 14px;
$topNavbar-wallet-cash-size: 20px;
$topNavbar-wallet-iconWallet-size: 18px;
$topNavbar-wallet-iconArrowDown-size: 12px;
$topNavbar-notification-iconNotification-size: 18px;
$topNavbar-profile-iconProfile-size: 18px;
$topNavbar-exit-iconQuit-size: 18px;
$topNavbar-profile-name-size: 13px;
$generalStatistic-title-size: 15px;
$generalStatistic-dates-size: 14px;
$generalStatistic-iconCalendar-size: 13px;
$links-title-size: 15px;
$links-firstButton-size: 16px;
$links-secondButton-size: 16px;
$banners-title-size: 15px;
$banners-title-size: 15px;
$banners-firstButton-size: 16px;
$banners-secondButton-size: 16px;
$personalData-title-size: 15px;

/* Fonts */
$leftNavbar-menu-font: "Roboto", sans-serif;
$messanger-title-font: "Roboto", sans-serif;
$messanger-contact-name-font: "Roboto", sans-serif;
$topNavbar-wallet-cash-font: "Roboto", sans-serif;
$topNavbar-profile-name-font: "Roboto", sans-serif;
$generalStatistic-title-font: "Roboto", sans-serif;
$generalStatistic-dates-font: "Roboto", sans-serif;
$links-title-font: "Roboto", sans-serif;
$links-firstButton-font: "Roboto", sans-serif;
$links-table-names-font: "Roboto", sans-serif;
$links-table-names-linksFont: "Roboto", sans-serif;
$links-secondButton-font: "Roboto", sans-serif;
$banners-title-font: "Roboto", sans-serif;
$banners-title-font: "Roboto", sans-serif;
$banners-firstButton-font: "Roboto", sans-serif;
$banners-table-names-font: "Roboto", sans-serif;
$banners-table-names-linksFont: "Roboto", sans-serif;
$banners-secondButton-font: "Roboto", sans-serif;
$personalData-title-font: "Roboto", sans-serif;
