.banners {
  &_title {
    @include cardTitle;
  }
  &_firstButton {
    @include wideButton;
  }
  &_table {
    width: 680px;
    margin: 0 auto;
    border-collapse: collapse;
    &--iconTrash {
      position: absolute;
      right: 3%;
      top: 17px;
      opacity: 0;
    }
    &--iconLinks {
      position: absolute;
      right: 9%;
      top: 19px;
      opacity: 0;
    }
    tr:hover {
      background-color: #e3e3e3;
      cursor: pointer;
      .links_table--iconLinks {
        opacity: 1;
        color: #f58220;
      }
      .links_table--iconTrash {
        color: #979797;
        opacity: 1;
      }
    }
    td {
      padding-top: 18px;
      padding-bottom: 18px;
      border-top: 1px solid $banners-table-border-color;
      border-bottom: 1px solid $banners-table-border-color;
    }
    &--names {
      color: $banners-table-names-color;
      font-weight: 800;
      font-family: $banners-table-names-font;
      padding-left: 16px;
    }
    a {
      padding-left: 140px;
      text-decoration: none;
      font-family: $banners-table-names-linksFont;
      color: $banners-table-names-linksColor;
    }
  }
  &_secondButton {
    @include wideButton;
  }
}
