.details {
  &_title {
    @include cardTitle;
  }
  &-wrap {
    display: flex;
    justify-content: center;
    padding: 20px 0 35px 0;
    text-align: center;
    border-bottom: 1px solid $generalStatistic-wrap-border-color;
    .details_dates {
      display: inline-block;
      height: 44px;
      width: 325px;
      border: 1px solid $generalStatistic-dates-border-color;
      border-radius: 5px;
      font-family: $generalStatistic-dates-font;
      font-size: $generalStatistic-dates-size;
      .details_dates--firstDate {
        float: left;
        padding-left: 18px;
      }
      .details_dates--secondDate {
        float: left;
        padding-left: 18px;
        border-left: 1px solid $generalStatistic-secondDates-border-color;
      }
      .iconCalendar {
        margin-top: 14px;
        font-size: $generalStatistic-iconCalendar-size;
        color: $generalStatistic-iconCalendar-color;
        float: right;
        padding-left: 18px;
        padding-right: 18px;
      }
    }
    .details_dates--button {
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: $generalStatistic-dates-button-bcgColor;
      border-radius: 5px;
      padding-top: 5px;
      margin-left: 20px;
      outline: none;
      border: 1px solid #f58220;
      cursor: pointer;
      transition: background-color 0.2s ease-in;
      &:hover {
        background-color: #ffa200;
      }
      .iconRefresh {
        color: $generalStatistic-dates-iconRefresh-color;
      }
    }
  }
  &_table {
    width: 98%;
    border-collapse: collapse;
    margin: 40px auto 0;
    thead {
      tr {
        th {
          text-align: start;
          padding-bottom: 20px;
          @include data;
          margin-right: 0;
          font-size: 14px;
          border-bottom: 1px solid $details-table-border-color;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 20px 0;
          border-bottom: 1px solid $details-table-border-color;
          font-family: $details-table-font;
          font-size: $details-table-size;
        }
      }
    }
  }
  @include pagination;
}
