.messanger {
  &__title {
    color: $messanger-title-color;
    text-transform: uppercase;
    padding-left: 18px;
    text-align: left;
    font-weight: 500;
    font-size: $messanger-title-size;
    font-family: $messanger-title-font;
  }
  &__contact {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 18px;
    padding-top: 8px;
    &:hover {
      background-color: rgba(166, 166, 166, 0.1);
      cursor: pointer;
    }
    &--photo {
      position: relative;
      top: 0;
      left: 0;
      width: 45px;
    }
    &--online {
      position: absolute;
      left: 50px;
    }
    &--name {
      color: $messanger-contact--name-color;
      font-weight: 300;
      font-family: $messanger-contact-name-font;
      font-size: $messanger-contact-name-size;
      float: right;
      margin-right: 50px;
    }
  }
}
