.postback {
  &_title {
    @include cardTitle;
  }
  &_firstSection {
    &--information {
      margin-top: 35px;
      margin-left: 20px;
      font-family: "Roboto";
      font-size: 15px;
    }
    &--first {
      padding-bottom: 45px;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #ddd;
    }
    &--form {
      .firstLineForm {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        label {
          color: #979797;
          font-weight: 800;
          font-family: "Roboto", sans-serif;
        }
        textarea {
          width: 100%;
          height: 190px;
          border-radius: 5px;
          border: 1px solid #ddd;
          font-family: "Roboto", sans-serif;
          outline: none;
          margin-top: 20px;
          resize: none;
          &::placeholder {
            padding: 10px 0 0 10px;
            font-size: 14px;
          }
        }
        .signupForm {
          margin-left: 5px;
          margin-right: 10px;
        }
        .depositForm {
          margin-left: 10px;
        }
      }
      .secondLineForm {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        div {
          width: 320px;
          font-family: "Roboto", sans-serif;
          margin-right: 20px;
        }
        .typeForm {
          margin-left: 20px;
        }
        select {
          width: 100%;
          height: 40px;
          border: 1px solid #ddd;
          outline: none;
          border-radius: 5px;
          margin-top: 20px;
          font-size: 14px;
        }
        option {
          font-family: "Roboto", sans-serif;
        }
        label {
          font-family: "Roboto";
          color: #979797;
          font-weight: 800;
        }
      }
    }
  }
  &_secondSection {
    border-bottom: 1px solid #ddd;
    &--form {
      display: inline-block;
      p {
        font-family: "Roboto";
        color: #979797;
        font-weight: 800;
        padding-top: 24px;
        padding-left: 20px;
        padding-bottom: 24px;
        margin: 0;
        span {
          color: red;
          text-transform: uppercase;
        }
      }
      div {
        padding-left: 35px;
        position: relative;
        margin-bottom: 20px;
        label {
          margin-left: 20px;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
        }
        input {
          position: absolute;
          width: 18px;
          height: 18px;
          opacity: 0;
          + .checkbox-custom {
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            .checkIcon {
              font-size: 12px;
              color: white;
            }
          }
          &:checked + .checkbox-custom {
            display: inline-block;
            text-align: center;
            background-color: #04ae00 !important;
          }
        }
      }
      .notStatuses--fourth {
        margin-bottom: 0;
        padding-bottom: 20px;
      }
    }
    .rightBorder {
      max-height: 250px;
      overflow: auto;
      border-right: 1px solid #ddd;
      &::-webkit-scrollbar {
        width: 15px;
        background-color: #e3e3e3;
        margin-right: 20px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #979797;
      }
    }
    .rightSide {
      position: relative;
      &_title {
        font-family: "Roboto";
        color: #979797;
        font-weight: 800;
        margin-left: 20px;
        margin-top: 24px;
      }
      &_scrollbar {
        display: flex;
        justify-content: center;
        padding-top: 10%;
        input {
          -webkit-appearance: none;
          height: 5px;
          width: 95%;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border-width: 0 16px 18px 16px;
            border-style: solid;
            border-color: #f58220 transparent;
            display: block;
            width: 0;
            cursor: pointer;
            margin-top: 8px;
          }
          &::-webkit-slider-runnable-track {
            height: 5px;
            background: #ddd;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  &_wrap {
    display: flex;
    justify-content: flex-end;
    .postback_button {
      @include wideButton;
      margin: 16px 30px 0 0;
    }
  }
}
