.topNavbar {
  &__wallet {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 190px;
    border-right: 1px solid $topNavbar-borders-color;
    border-left: 1px solid $topNavbar-borders-color;
    .icon {
      @include icon;
    }
    .iconWallet {
      color: $topNavbar-icons-color;
      font-size: $topNavbar-wallet-iconWallet-size;
    }
    &--cash {
      font-size: $topNavbar-wallet-cash-size;
      font-family: $topNavbar-wallet-cash-font;
      color: $topNavbar-wallet-cash-color;
      float: right;
      font-weight: 700;
    }
    .iconArrowDown {
      color: $topNavbar-icons-color;
      font-size: $topNavbar-wallet-iconArrowDown-size;
    }
  }
  .topNavbar__notification {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-right: 1px solid $topNavbar-borders-color;
    transition: 0.3s;
    .iconNotification {
      color: $topNavbar-icons-color;
      font-size: $topNavbar-notification-iconNotification-size;
    }
    .notification-indicator {
      position: absolute;
      top: 30%;
      left: 52%;
    }
    &:hover {
      background-color: $topNavbar-notification-hover-bcgColor;
      cursor: pointer;
    }
  }
  .topNavbar__profile {
    display: flex;
    align-items: center;
    width: 175px;
    border-right: 1px solid $topNavbar-borders-color;
    .iconProfile {
      color: $topNavbar-icons-color;
      font-size: $topNavbar-profile-iconProfile-size;
    }
    .icon {
      @include icon;
    }
    &--name {
      font-family: $topNavbar-profile-name-font;
      color: $topNavbar-profile-name-color;
      font-size: $topNavbar-profile-name-size;
      font-weight: 500;
    }
    &:hover {
      background-color: #e3e3e3;
      cursor: pointer;
    }
  }
  .topNavbar__exit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-right: 1px solid $topNavbar-borders-color;
    .iconQuit {
      color: $topNavbar-icons-color;
      font-size: $topNavbar-exit-iconQuit-size;
    }
  }
}
